<h1>Editing twitter_feed</h1>

<% form_for(@twitter_feed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tw_screen_name %><br />
    <%= f.text_field :tw_screen_name %>
  </p>
  <p>
    <%= f.label :tw_secret %><br />
    <%= f.text_field :tw_secret %>
  </p>
  <p>
    <%= f.label :tw_token %><br />
    <%= f.text_field :tw_token %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @twitter_feed %> |
<%= link_to 'Back', twitter_feeds_path %>