<h3>twitter feeds</h3>

<table class="users-table">
  <tr>
    <th>GO TO</th>
    <th>twitter screen name</th>
    <th>twitter token</th>
    <th>twitter secret</th>
    <th>connect to twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to 'FEED', 
              :controller => 'timelines', 
              :user_id => user.id,
              :action => 'index'
              %>
    </td> 
    <td><%=h user.tw_screen_name %></td>
    <td><%=h truncate(user.tw_token, :length => 10) %></td>
    <td><%=h truncate(user.tw_secret, :length => 10) %></td>
    <td><%= link_to image_tag("/images/twitter_connect.png"), authorize_twitter_user_path(user) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>