<h1>new twitter feed</h1>

<p>step 1 - input twitter screen name and submit</p>
<p>step 2 - link new feed to twitter by clicking on twitter icon</p>
<p>step 3 - enter in twitter screen name and credentials when asked by twitter</p>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tw_screen_name %><br />
    <%= f.text_field :tw_screen_name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>