<h1>Listing rss_feeds</h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rss_feeds.each do |rss_feed| %>
  <tr>    
    <td>
      <%= link_to 'FEED', 
              :controller => 'timelines', 
              :rss_feed_id => rss_feed.id,
              :action => 'index'
      %>
    </td> 
    <td><%=h rss_feed.name %></td>
    <td><%=h rss_feed.url %></td>
    <td><%= link_to 'Show', rss_feed %></td>
    <td><%= link_to 'Edit', edit_rss_feed_path(rss_feed) %></td>
    <td><%= link_to 'Destroy', rss_feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rss_feed', new_rss_feed_path %>