<div id="tweets">
<p>
  <b>Name:</b>
  <%=h @rss_feed.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @rss_feed.url %>
</p>


<% for entry in @rss_feed.FeedEntries %>
    <div class="tweet">
  <div class="info">
    
    <p class="who_when">
      <%=h entry.published_at %>
    </p>

  </div>

  <div class="text">
    <%= link_to h(entry.name), entry.url %>
    <%= auto_link(entry.summary, :target => '_blank', :username_url_base => "http://#{request.host_with_port}/users/") %>
  </div>
  
  <div class="meta-data">
    <%- if entry.image_url -%>
      <div class="link-img">
        <%= entry.image_url %>
        w<%= entry.image_width %>
        h<%= entry.image_height %>
      </div>
    <%- end -%>
    <%- if entry.video_url -%>
      <div class="link-video">
        <%= entry.video_url %>
        w<%= entry.video_width %>
        h<%= entry.video_height %>
      </div>
    <%- end -%>
    <div class="link-desc">
      <%= entry.summary %>
    </div>
  </div>
</div>
<% end %>


<%= link_to 'Edit', edit_rss_feed_path(@rss_feed) %> |
<%= link_to 'Back', rss_feeds_path %>
</div>

