<div id="statuses">
  <%- if signed_in? -%>
      <div id="update">
        <%- form_tag timelines_url, :method => :post do -%>
          <%= hidden_return_to_current %>
          <%= hidden_field_tag 'in_reply_to_status_id' %>
          <span id="countdown">140</span>
          <label for="text">Add to timeline</label>
          <%= text_area_tag 'text' %>
          <%= submit_tag 'Update' %>
        <%- end -%>
      </div>
    <%- end -%>
  <%- for tweet in @tweets -%>
    <%= render :partial => 'timelines/status', :object => tweet %>
  <%- end -%>
</div>

